{% extends 'base.html.twig' %}

{% block title %}COFFEE-ME{% endblock %}

{% block body %}

<div class="topnav">
    <a class="active" href="#home">COFFEE-ME</a>
    <a href="#concept">CONCEPT</a>
    <a href="#contact">CONTACT US</a>

  {% if app.user %}
  <a href="{{path('cafe_register')}}">Share a cafe</a>
  <a href="{{path('app_logout')}}">Disconnect</a>
  {% else %} 
  <a href="{{path('app_login')}}">My account</a>
    {% endif %} 

</div>

{% endblock %}
