{% extends 'base.html.twig' %}

{% block title %}COFFEE-ME{% endblock %}

{% block body %}

<div class="topnav">
  <a class="active" href="#home">COFFEE-ME</a>
  <a href="#concept">CONCEPT</a>
  <a href="#contact">CONTACT US</a>
  <a href="#about">MY ACCOUNT</a>
</div>

{% endblock %}
