{% extends 'base.html.twig' %}

{% block title %}Delete a cafe{% endblock %}

{% block body %}

<h2>The cafe has been deleted</h2>
<a href="{{path('app_cafe')}}">Back to the list of cafes</a>

{% endblock %}